.app {
  text-align: center;
  margin: 1.5rem;
}

.subtitle {
  padding-bottom: 1rem;
}

.fetching-text {
  padding: 1rem 0;
  color: cornflowerblue;
}

.error-text {
  padding: 1rem 0;
  color: red;
}

.info-text {
  padding: 1rem 0;
  color: green;
}

.form-container {
  display: flex;
  background-color: lightgray;
  outline: 2px solid grey;
  justify-content: space-around;
  padding: 20px 0;
}